{{> blog-post}}
{{>comments}}
        {{#if logged_in}}
<form class="comment-form card">
<div class="card-header">
        <h2>Add a New Comment!</h2>
        </div>
        <div class="card-body">
  <input type="hidden" name="blog-id" value="{{blog.id}}" />
  <textarea name="blog-id" id="comment" class="form-input commentText"></textarea>
<button type="submit" class="btn btn-primary">Add comment</button>
</div>
</form>
        {{/if}}
        {{#if logged_in}}
        <script src="/js/comments.js"></script>
        {{/if}}
</div>

