<div class="blog-post">
    <div class="blog-title">{{blog.title}}
        <p>Created by {{blog.user.username}} on {{format_date blog.createdAt}}</p>
  </div>
  <div class="blog-content">{{blog.blog_content}}</div>
  </p>
</div>
