header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.blog-post{
  border: solid black 5px;
  text-align: center;
}
.blog-title{
  background-color: #018749;
  color:white;
  font-size: 30px;
  padding:20px
}
.blog-content{
  padding: 30px;
  background-color: #ACE1AF;
}
